In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv(r"C:\Users\shubh\Downloads\Data Sheet.csv")

In [3]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,...,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code
0,63b3b00812fd293bff52248d,2023-01-03 04:33:12.157+00,0,False,"[{""dateTime"":""2023-01-03T10:25:00Z"",""details"":...",63b3b00812fd293bff522488,2023-07-20 07:24:41.662+00,2023-07-20 08:18:03.235+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63b50769ba169e7e19712077,2023-01-04 04:58:17.462+00,0,False,"[{""dateTime"":""2023-01-01T22:31:00Z"",""details"":...",63b50769ba169e7e19712072,2023-07-20 07:24:41.732+00,2023-07-20 08:18:03.236+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63b50778ba169e7e197120af,2023-01-04 04:58:32.763+00,0,False,"[{""dateTime"":""2023-01-02T10:31:00Z"",""details"":...",63b50778ba169e7e197120aa,2023-07-20 07:24:41.802+00,2023-07-20 08:18:03.238+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63b50c62ba169e7e19712365,2023-01-04 05:19:30.171+00,0,False,"[{""dateTime"":""2023-01-02T15:50:00Z"",""details"":...",63b50c62ba169e7e19712360,2023-07-20 07:24:41.87+00,2023-07-20 08:18:03.239+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63b53c7eba169e7e19712d32,2023-01-04 08:44:46.821+00,0,False,"[{""dateTime"":""2023-01-05T18:58:00Z"",""details"":...",63b53c7eba169e7e19712d2d,2023-07-20 07:24:41.954+00,2023-07-20 08:18:03.24+00,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,65cb505bbe1a0c09b9a44091,2024-02-13 11:19:55.064+00,0,False,"[{""dateTime"":null,""view"":{""admin"":""Booking Con...",65cb505bbe1a0c09b9a4408c,2024-02-13 11:19:55.064+00,2024-02-13 11:33:17.505+00,lcl-tracking,656e10e5089c245216d0b4b5,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,65cb687ebe1a0c09b9a971ba,2024-02-13 13:02:54.599+00,0,False,"[{""dateTime"":""2024-02-13T13:02:54Z"",""view"":{""a...",65cb687ebe1a0c09b9a971b5,2024-02-13 13:02:54.935+00,2024-02-13 13:05:01.992+00,air_freight-tracking,65a7e001accd7a0f413f8fc9,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,65cc5e31be1a0c09b9d39f39,2024-02-14 06:31:13.586+00,0,False,"[{""dateTime"":""2024-02-14T06:31:14Z"",""view"":{""a...",65cc5e31be1a0c09b9d39f34,2024-02-14 06:46:40.928+00,2024-02-14 06:51:45.984+00,air_freight-tracking,65cc5e26be1a0c09b9d39ec5,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,65cc6842be1a0c09b9d4ebce,2024-02-14 07:14:10.192+00,0,False,"[{""dateTime"":""2024-02-14T07:14:10Z"",""view"":{""a...",65cc6842be1a0c09b9d4ebc9,2024-02-14 07:14:10.976+00,2024-02-14 07:18:06.979+00,air_freight-tracking,65cc5e26be1a0c09b9d39ec5,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,65cc6ea5be1a0c09b9d6026b,2024-02-14 07:41:25.277+00,0,False,"[{""dateTime"":""2024-02-14T07:41:25Z"",""view"":{""a...",65cc6ea5be1a0c09b9d60266,2024-02-14 07:41:25.608+00,2024-02-14 07:48:20.676+00,air_freight-tracking,65b1fe6e9f95a0791e86d6bf,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

AS WE CAN SEE WE HAVE 22 ROWS AND FROM THR WE HAVE TO TAKE OUT THREE IMPORTANT THINGS
1. AVEFRAGE DELIVERY TIME 
2. TP90 DELIVERY TIME 
3. CUTSOMER WITH ATLEAST ONE ITEM ORDERED
SO FOR TO ACHIEVE ALL THESE OBJECTIVES WE NEED ONLY FEW ROWS AND OTHERS WE NOT NEEDED SPO FILTER AND ALSO DELETE NULLS IF PRESENT

NOW TO ACHIEVE THESE OBEJCETIVE HERE IS MY APPROACH FOR THE FIRST OBJECTIVE THAT IS DEIVERY TIME 
1. I WILL CHECK MILESTONE IN THAT COLUMN I GET TO KNOW BOOOKING_DATE AND DELIVERY_TIME FROM MILESTONECOLUMN BUT WE CAN SEE THERE IS MANY NULL AND BOOKING CANCELED SO FIR THAT WE WILL LOOK STATUS COLUMN 0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1964 entries, 0 to 1963
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   _id                        1964 non-null   object
 1   created_at                 1964 non-null   object
 2   _v                         1964 non-null   int64
 3   _fivetran_deleted          1964 non-null   bool
 4   milestones                 1964 non-null   object
 5   booking_id                 1964 non-null   object
 6   updated_at                 1964 non-null   object
 7   _fivetran_synced           1964 non-null   object
 8   kind                       1623 non-null   object
 9   organization_id            1623 non-null   object
 10  quote_identity             1623 non-null   object
 11  booking_identity           1623 non-null   object
 12  status                     473 non-null    object
 13  customer_invoice_no        1503 non-null   object
 14  ticket_status              1945 non-null   object
 15  zendesk_ticket_id          780 non-null    float64
 16  zoho_invoice_status        187 non-null    object
 17  zoho_estimate_invoice_nos  187 non-null    object
 18  container_code             425 non-null    object
 19  flight_number              381 non-null    object
 20  airline_name               679 non-null    object
 21  carrier_code               393 non-null    object
dtypes: bool(1), float64(1), int64(1), object(19)
memory usage: 324.3+ KB

In [102]:
df.describe()

,_v,zendesk_ticket_id,booking_confirmed_year,booking_confirmed_month,delivered_year,delivered_month,delivery_days,average_delivery_time_per_kind
count,163.000000,152.000000,157.0,157.000000,148.0,148.000000,148.000000,148.000000
mean,0.527607,2203.039474,2023.0,6.343949,2023.0,7.452703,34.439189,34.439189
std,0.500776,365.435617,0.0,0.740005,0.0,0.819278,17.746985,15.560532
min,0.000000,1390.000000,2023.0,2.000000,2023.0,4.000000,2.000000,6.000000
25%,0.000000,1979.000000,2023.0,6.000000,2023.0,7.000000,17.000000,17.600000
50%,1.000000,2217.000000,2023.0,6.000000,2023.0,8.000000,40.000000,43.250000
75%,1.000000,2331.250000,2023.0,7.000000,2023.0,8.000000,46.000000,46.414634
max,1.000000,3025.000000,2023.0,8.000000,2023.0,9.000000,83.000000,61.375000

In [ ]:
df.

In [5]:
pd.set_option("display.max_column",None)
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code
0,63b3b00812fd293bff52248d,2023-01-03 04:33:12.157+00,0,False,"[{""dateTime"":""2023-01-03T10:25:00Z"",""details"":...",63b3b00812fd293bff522488,2023-07-20 07:24:41.662+00,2023-07-20 08:18:03.235+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63b50769ba169e7e19712077,2023-01-04 04:58:17.462+00,0,False,"[{""dateTime"":""2023-01-01T22:31:00Z"",""details"":...",63b50769ba169e7e19712072,2023-07-20 07:24:41.732+00,2023-07-20 08:18:03.236+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63b50778ba169e7e197120af,2023-01-04 04:58:32.763+00,0,False,"[{""dateTime"":""2023-01-02T10:31:00Z"",""details"":...",63b50778ba169e7e197120aa,2023-07-20 07:24:41.802+00,2023-07-20 08:18:03.238+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63b50c62ba169e7e19712365,2023-01-04 05:19:30.171+00,0,False,"[{""dateTime"":""2023-01-02T15:50:00Z"",""details"":...",63b50c62ba169e7e19712360,2023-07-20 07:24:41.87+00,2023-07-20 08:18:03.239+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63b53c7eba169e7e19712d32,2023-01-04 08:44:46.821+00,0,False,"[{""dateTime"":""2023-01-05T18:58:00Z"",""details"":...",63b53c7eba169e7e19712d2d,2023-07-20 07:24:41.954+00,2023-07-20 08:18:03.24+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,65cb505bbe1a0c09b9a44091,2024-02-13 11:19:55.064+00,0,False,"[{""dateTime"":null,""view"":{""admin"":""Booking Con...",65cb505bbe1a0c09b9a4408c,2024-02-13 11:19:55.064+00,2024-02-13 11:33:17.505+00,lcl-tracking,656e10e5089c245216d0b4b5,XQLCL02243841,BLCOL02243385,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,65cb687ebe1a0c09b9a971ba,2024-02-13 13:02:54.599+00,0,False,"[{""dateTime"":""2024-02-13T13:02:54Z"",""view"":{""a...",65cb687ebe1a0c09b9a971b5,2024-02-13 13:02:54.935+00,2024-02-13 13:05:01.992+00,air_freight-tracking,65a7e001accd7a0f413f8fc9,XQAMZAIR022421851,BAMZAIR022421851,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,65cc5e31be1a0c09b9d39f39,2024-02-14 06:31:13.586+00,0,False,"[{""dateTime"":""2024-02-14T06:31:14Z"",""view"":{""a...",65cc5e31be1a0c09b9d39f34,2024-02-14 06:46:40.928+00,2024-02-14 06:51:45.984+00,air_freight-tracking,65cc5e26be1a0c09b9d39ec5,XQAMZAIR022421861,BAMZAIR022421861,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,65cc6842be1a0c09b9d4ebce,2024-02-14 07:14:10.192+00,0,False,"[{""dateTime"":""2024-02-14T07:14:10Z"",""view"":{""a...",65cc6842be1a0c09b9d4ebc9,2024-02-14 07:14:10.976+00,2024-02-14 07:18:06.979+00,air_freight-tracking,65cc5e26be1a0c09b9d39ec5,XQAMZAIR022421870,BAMZAIR022421870,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,65cc6ea5be1a0c09b9d6026b,2024-02-14 07:41:25.277+00,0,False,"[{""dateTime"":""2024-02-14T07:41:25Z"",""view"":{""a...",65cc6ea5be1a0c09b9d60266,2024-02-14 07:41:25.608+00,2024-02-14 07:48:20.676+00,air_freight-tracking,65b1fe6e9f95a0791e86d6bf,XQAMZAIR022421881,BAMZAIR022421881,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.isnull().sum()

_id                             0
created_at                      0
_v                              0
_fivetran_deleted               0
milestones                      0
booking_id                      0
updated_at                      0
_fivetran_synced                0
kind                          341
organization_id               341
quote_identity                341
booking_identity              341
status                       1491
customer_invoice_no           461
ticket_status                  19
zendesk_ticket_id            1184
zoho_invoice_status          1777
zoho_estimate_invoice_nos    1777
container_code               1539
flight_number                1583
airline_name                 1285
carrier_code                 1571
dtype: int64

AS WE CAN SEE CLEALRY THAT 6 THINGS HAVE NO NULL VALUES PRESENT AND OTHER HAVE NULL CALUES PRESENT FOR THE OBEJECTIVE TO ACHIUEVE WE HAVE TO REMLOVE THAT NULL VALUES

In [7]:
df = df[df['milestones'].notnull()]

In [8]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code
0,63b3b00812fd293bff52248d,2023-01-03 04:33:12.157+00,0,False,"[{""dateTime"":""2023-01-03T10:25:00Z"",""details"":...",63b3b00812fd293bff522488,2023-07-20 07:24:41.662+00,2023-07-20 08:18:03.235+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63b50769ba169e7e19712077,2023-01-04 04:58:17.462+00,0,False,"[{""dateTime"":""2023-01-01T22:31:00Z"",""details"":...",63b50769ba169e7e19712072,2023-07-20 07:24:41.732+00,2023-07-20 08:18:03.236+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63b50778ba169e7e197120af,2023-01-04 04:58:32.763+00,0,False,"[{""dateTime"":""2023-01-02T10:31:00Z"",""details"":...",63b50778ba169e7e197120aa,2023-07-20 07:24:41.802+00,2023-07-20 08:18:03.238+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63b50c62ba169e7e19712365,2023-01-04 05:19:30.171+00,0,False,"[{""dateTime"":""2023-01-02T15:50:00Z"",""details"":...",63b50c62ba169e7e19712360,2023-07-20 07:24:41.87+00,2023-07-20 08:18:03.239+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63b53c7eba169e7e19712d32,2023-01-04 08:44:46.821+00,0,False,"[{""dateTime"":""2023-01-05T18:58:00Z"",""details"":...",63b53c7eba169e7e19712d2d,2023-07-20 07:24:41.954+00,2023-07-20 08:18:03.24+00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,65cb505bbe1a0c09b9a44091,2024-02-13 11:19:55.064+00,0,False,"[{""dateTime"":null,""view"":{""admin"":""Booking Con...",65cb505bbe1a0c09b9a4408c,2024-02-13 11:19:55.064+00,2024-02-13 11:33:17.505+00,lcl-tracking,656e10e5089c245216d0b4b5,XQLCL02243841,BLCOL02243385,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,65cb687ebe1a0c09b9a971ba,2024-02-13 13:02:54.599+00,0,False,"[{""dateTime"":""2024-02-13T13:02:54Z"",""view"":{""a...",65cb687ebe1a0c09b9a971b5,2024-02-13 13:02:54.935+00,2024-02-13 13:05:01.992+00,air_freight-tracking,65a7e001accd7a0f413f8fc9,XQAMZAIR022421851,BAMZAIR022421851,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,65cc5e31be1a0c09b9d39f39,2024-02-14 06:31:13.586+00,0,False,"[{""dateTime"":""2024-02-14T06:31:14Z"",""view"":{""a...",65cc5e31be1a0c09b9d39f34,2024-02-14 06:46:40.928+00,2024-02-14 06:51:45.984+00,air_freight-tracking,65cc5e26be1a0c09b9d39ec5,XQAMZAIR022421861,BAMZAIR022421861,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,65cc6842be1a0c09b9d4ebce,2024-02-14 07:14:10.192+00,0,False,"[{""dateTime"":""2024-02-14T07:14:10Z"",""view"":{""a...",65cc6842be1a0c09b9d4ebc9,2024-02-14 07:14:10.976+00,2024-02-14 07:18:06.979+00,air_freight-tracking,65cc5e26be1a0c09b9d39ec5,XQAMZAIR022421870,BAMZAIR022421870,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,65cc6ea5be1a0c09b9d6026b,2024-02-14 07:41:25.277+00,0,False,"[{""dateTime"":""2024-02-14T07:41:25Z"",""view"":{""a...",65cc6ea5be1a0c09b9d60266,2024-02-14 07:41:25.608+00,2024-02-14 07:48:20.676+00,air_freight-tracking,65b1fe6e9f95a0791e86d6bf,XQAMZAIR022421881,BAMZAIR022421881,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df.dropna(subset="status")

In [10]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code
5,63b5526548e773743970c0e7,2023-01-04 10:18:13.601+00,0,False,"[{""dateTime"":""2023-01-04T18:00:00Z"",""details"":...",63b5526548e773743970c0e2,2023-07-20 07:24:42.034+00,2023-07-20 08:18:03.241+00,NaN,NaN,NaN,NaN,Booking Cancelled,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,63be7c1322d4ab1fc4726426,2023-01-11 09:06:27.888+00,0,False,"[{""dateTime"":null,""details"":null,""value"":""Book...",63be7c1322d4ab1fc4726421,2023-07-20 09:39:03.318+00,2023-07-20 14:18:07.205+00,NaN,NaN,NaN,NaN,Booking Cancelled,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,63bfe3a0f2c55d1c751c8087,2023-01-12 10:40:32.787+00,0,False,"[{""dateTime"":""2023-01-27T00:00:00Z"",""estimateC...",63bfe3a0f2c55d1c751c8082,2023-07-20 07:24:42.113+00,2023-07-20 08:18:03.242+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1262.0,NaN,NaN,NaN,NaN,NaN,NaN
8,63c1026a8bb33ef411fed105,2023-01-13 07:04:10.43+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c1026a8bb33ef411fed100,2023-07-20 07:24:42.19+00,2023-07-20 08:18:03.243+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1237.0,NaN,NaN,NaN,NaN,NaN,NaN
10,63c4ffd9f8fb34bb0ef61abe,2023-01-16 07:42:17.263+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c4ffd9f8fb34bb0ef61ab9,2023-07-20 07:24:42.27+00,2023-07-20 08:18:03.291+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,64b62e40a135e4aee704c1dd,2023-07-18 06:16:32.532+00,0,False,"[{""dateTime"":""2023-07-18T07:41:29.228Z"",""view""...",64b62e40a135e4aee704c1d8,2023-12-27 07:41:29.355+00,2023-12-27 07:48:18.994+00,air_freight-tracking,647b1636b6b33ba1d31e6fb0,XQAIR07232236,BAIR07231933,Booking Confirmation Pending,`2,True,2403.0,NaN,NaN,NaN,AZ769,Air Italia,NaN
508,64b62eca809adc250ea00ff0,2023-07-18 06:18:50.206+00,1,False,"[{""dateTime"":""2023-07-18T04:50:05.662Z"",""estim...",64b62eca809adc250ea00feb,2023-10-17 04:50:05.952+00,2023-10-17 05:03:15.25+00,fcl-tracking,647594734988569a71a54341,XQFCL07232237,BFCL07231934,Booking Confirmation Pending,EXP-23/07/17,True,2766.0,False,[],TGHU6625179,NaN,NaN,MAEU
509,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd-tracking,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl-tracking,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl-tracking,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL

In [11]:
df["status"].isnull().sum()

0

In [12]:
df["milestones"].isnull().sum()

0

In [13]:
import json

def extract_datetime(row):
    milestones = row['milestones']
    datetime_list = []
    try:
        milestones_list = json.loads(milestones)
        for milestone in milestones_list:
            if milestone.get('value') in ['Booking Confirmed', 'Delivered to Consignee']:
                datetime_list.append(milestone.get('dateTime'))
    except (json.JSONDecodeError, TypeError):
        pass  # Handle JSON parsing error or missing values gracefully
    return datetime_list

# Check for missing values in the 'milestones' column
df = df.dropna(subset=['milestones'])

# Apply the function to each row
df['datetime'] = df.apply(extract_datetime, axis=1)

# Flatten the list of datetimes
df = df.explode('datetime')

In [14]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,datetime
5,63b5526548e773743970c0e7,2023-01-04 10:18:13.601+00,0,False,"[{""dateTime"":""2023-01-04T18:00:00Z"",""details"":...",63b5526548e773743970c0e2,2023-07-20 07:24:42.034+00,2023-07-20 08:18:03.241+00,NaN,NaN,NaN,NaN,Booking Cancelled,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-04T18:00:00Z
5,63b5526548e773743970c0e7,2023-01-04 10:18:13.601+00,0,False,"[{""dateTime"":""2023-01-04T18:00:00Z"",""details"":...",63b5526548e773743970c0e2,2023-07-20 07:24:42.034+00,2023-07-20 08:18:03.241+00,NaN,NaN,NaN,NaN,Booking Cancelled,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,63be7c1322d4ab1fc4726426,2023-01-11 09:06:27.888+00,0,False,"[{""dateTime"":null,""details"":null,""value"":""Book...",63be7c1322d4ab1fc4726421,2023-07-20 09:39:03.318+00,2023-07-20 14:18:07.205+00,NaN,NaN,NaN,NaN,Booking Cancelled,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,63be7c1322d4ab1fc4726426,2023-01-11 09:06:27.888+00,0,False,"[{""dateTime"":null,""details"":null,""value"":""Book...",63be7c1322d4ab1fc4726421,2023-07-20 09:39:03.318+00,2023-07-20 14:18:07.205+00,NaN,NaN,NaN,NaN,Booking Cancelled,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7,63bfe3a0f2c55d1c751c8087,2023-01-12 10:40:32.787+00,0,False,"[{""dateTime"":""2023-01-27T00:00:00Z"",""estimateC...",63bfe3a0f2c55d1c751c8082,2023-07-20 07:24:42.113+00,2023-07-20 08:18:03.242+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1262.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-27T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd-tracking,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-25T10:22:09.053Z
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl-tracking,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18T17:27:48.575Z
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl-tracking,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-08-30T17:27:48.619Z
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl-tracking,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18T17:27:48.331Z
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl-tracking,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-08-30T17:27:48.376Z

In [16]:
df = df[df['status'] != 'Booking Cancelled']

In [17]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,datetime
7,63bfe3a0f2c55d1c751c8087,2023-01-12 10:40:32.787+00,0,False,"[{""dateTime"":""2023-01-27T00:00:00Z"",""estimateC...",63bfe3a0f2c55d1c751c8082,2023-07-20 07:24:42.113+00,2023-07-20 08:18:03.242+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1262.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-27T00:00:00Z
7,63bfe3a0f2c55d1c751c8087,2023-01-12 10:40:32.787+00,0,False,"[{""dateTime"":""2023-01-27T00:00:00Z"",""estimateC...",63bfe3a0f2c55d1c751c8082,2023-07-20 07:24:42.113+00,2023-07-20 08:18:03.242+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1262.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-17T00:00:00Z
8,63c1026a8bb33ef411fed105,2023-01-13 07:04:10.43+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c1026a8bb33ef411fed100,2023-07-20 07:24:42.19+00,2023-07-20 08:18:03.243+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1237.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16T00:00:00Z
8,63c1026a8bb33ef411fed105,2023-01-13 07:04:10.43+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c1026a8bb33ef411fed100,2023-07-20 07:24:42.19+00,2023-07-20 08:18:03.243+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1237.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-24T00:00:00Z
10,63c4ffd9f8fb34bb0ef61abe,2023-01-16 07:42:17.263+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c4ffd9f8fb34bb0ef61ab9,2023-07-20 07:24:42.27+00,2023-07-20 08:18:03.291+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd-tracking,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-25T10:22:09.053Z
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl-tracking,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18T17:27:48.575Z
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl-tracking,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-08-30T17:27:48.619Z
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl-tracking,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18T17:27:48.331Z
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl-tracking,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-08-30T17:27:48.376Z

In [16]:
import json

def extract_datetime(row):
    milestones = row['milestones']
    booking_confirmed_datetime = None
    delivered_datetime = None
    try:
        milestones_list = json.loads(milestones)
        for milestone in milestones_list:
            if milestone.get('value') == 'Booking Confirmed':
                booking_confirmed_datetime = milestone.get('dateTime')
            elif milestone.get('value') == 'Delivered to Consignee':
                delivered_datetime = milestone.get('dateTime')
    except (json.JSONDecodeError, TypeError):
        pass  # Handle JSON parsing error or missing values gracefully
    return booking_confirmed_datetime, delivered_datetime

# Check for missing values in the 'milestones' column
df = df.dropna(subset=['milestones'])

# Apply the function to each row
df[['booking_confirmed_datetime', 'delivered_datetime']] = df.apply(extract_datetime, axis=1, result_type='expand')

In [17]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,booking_confirmed_datetime,delivered_datetime
5,63b5526548e773743970c0e7,2023-01-04 10:18:13.601+00,0,False,"[{""dateTime"":""2023-01-04T18:00:00Z"",""details"":...",63b5526548e773743970c0e2,2023-07-20 07:24:42.034+00,2023-07-20 08:18:03.241+00,NaN,NaN,NaN,NaN,Booking Cancelled,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-04T18:00:00Z,None
6,63be7c1322d4ab1fc4726426,2023-01-11 09:06:27.888+00,0,False,"[{""dateTime"":null,""details"":null,""value"":""Book...",63be7c1322d4ab1fc4726421,2023-07-20 09:39:03.318+00,2023-07-20 14:18:07.205+00,NaN,NaN,NaN,NaN,Booking Cancelled,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
7,63bfe3a0f2c55d1c751c8087,2023-01-12 10:40:32.787+00,0,False,"[{""dateTime"":""2023-01-27T00:00:00Z"",""estimateC...",63bfe3a0f2c55d1c751c8082,2023-07-20 07:24:42.113+00,2023-07-20 08:18:03.242+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1262.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-27T00:00:00Z,2023-03-17T00:00:00Z
8,63c1026a8bb33ef411fed105,2023-01-13 07:04:10.43+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c1026a8bb33ef411fed100,2023-07-20 07:24:42.19+00,2023-07-20 08:18:03.243+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1237.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16T00:00:00Z,2023-02-24T00:00:00Z
10,63c4ffd9f8fb34bb0ef61abe,2023-01-16 07:42:17.263+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c4ffd9f8fb34bb0ef61ab9,2023-07-20 07:24:42.27+00,2023-07-20 08:18:03.291+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16T00:00:00Z,2023-02-27T22:21:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,64b62e40a135e4aee704c1dd,2023-07-18 06:16:32.532+00,0,False,"[{""dateTime"":""2023-07-18T07:41:29.228Z"",""view""...",64b62e40a135e4aee704c1d8,2023-12-27 07:41:29.355+00,2023-12-27 07:48:18.994+00,air_freight-tracking,647b1636b6b33ba1d31e6fb0,XQAIR07232236,BAIR07231933,Booking Confirmation Pending,`2,True,2403.0,NaN,NaN,NaN,AZ769,Air Italia,NaN,2023-07-18T07:41:29.228Z,2023-08-15T08:58:01.795Z
508,64b62eca809adc250ea00ff0,2023-07-18 06:18:50.206+00,1,False,"[{""dateTime"":""2023-07-18T04:50:05.662Z"",""estim...",64b62eca809adc250ea00feb,2023-10-17 04:50:05.952+00,2023-10-17 05:03:15.25+00,fcl-tracking,647594734988569a71a54341,XQFCL07232237,BFCL07231934,Booking Confirmation Pending,EXP-23/07/17,True,2766.0,False,[],TGHU6625179,NaN,NaN,MAEU,2023-07-18T04:50:05.662Z,2023-08-15T04:50:05.859Z
509,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd-tracking,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-14T10:22:09.031Z,2023-07-25T10:22:09.053Z
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl-tracking,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18T17:27:48.575Z,2023-08-30T17:27:48.619Z
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl-tracking,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18T17:27:48.331Z,2023-08-30T17:27:48.376Z

In [18]:
df = df[df['status'] != 'Booking Cancelled']

In [19]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,booking_confirmed_datetime,delivered_datetime
7,63bfe3a0f2c55d1c751c8087,2023-01-12 10:40:32.787+00,0,False,"[{""dateTime"":""2023-01-27T00:00:00Z"",""estimateC...",63bfe3a0f2c55d1c751c8082,2023-07-20 07:24:42.113+00,2023-07-20 08:18:03.242+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1262.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-27T00:00:00Z,2023-03-17T00:00:00Z
8,63c1026a8bb33ef411fed105,2023-01-13 07:04:10.43+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c1026a8bb33ef411fed100,2023-07-20 07:24:42.19+00,2023-07-20 08:18:03.243+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1237.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16T00:00:00Z,2023-02-24T00:00:00Z
10,63c4ffd9f8fb34bb0ef61abe,2023-01-16 07:42:17.263+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c4ffd9f8fb34bb0ef61ab9,2023-07-20 07:24:42.27+00,2023-07-20 08:18:03.291+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16T00:00:00Z,2023-02-27T22:21:00Z
11,63c53cd2f8fb34bb0ef6257f,2023-01-16 12:02:26.899+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c53cd2f8fb34bb0ef6257a,2023-07-20 07:24:42.347+00,2023-07-20 08:18:03.292+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1264.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16T00:00:00Z,2023-02-27T00:00:00Z
12,63c55f25b2dcb8a2eb68876d,2023-01-16 14:28:53.746+00,0,False,"[{""dateTime"":""2023-01-17T00:00:00Z"",""estimateC...",63c55f25b2dcb8a2eb688768,2023-07-20 07:24:42.425+00,2023-07-20 08:18:03.293+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1272.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-17T00:00:00Z,2023-02-27T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,64b62e40a135e4aee704c1dd,2023-07-18 06:16:32.532+00,0,False,"[{""dateTime"":""2023-07-18T07:41:29.228Z"",""view""...",64b62e40a135e4aee704c1d8,2023-12-27 07:41:29.355+00,2023-12-27 07:48:18.994+00,air_freight-tracking,647b1636b6b33ba1d31e6fb0,XQAIR07232236,BAIR07231933,Booking Confirmation Pending,`2,True,2403.0,NaN,NaN,NaN,AZ769,Air Italia,NaN,2023-07-18T07:41:29.228Z,2023-08-15T08:58:01.795Z
508,64b62eca809adc250ea00ff0,2023-07-18 06:18:50.206+00,1,False,"[{""dateTime"":""2023-07-18T04:50:05.662Z"",""estim...",64b62eca809adc250ea00feb,2023-10-17 04:50:05.952+00,2023-10-17 05:03:15.25+00,fcl-tracking,647594734988569a71a54341,XQFCL07232237,BFCL07231934,Booking Confirmation Pending,EXP-23/07/17,True,2766.0,False,[],TGHU6625179,NaN,NaN,MAEU,2023-07-18T04:50:05.662Z,2023-08-15T04:50:05.859Z
509,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd-tracking,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-14T10:22:09.031Z,2023-07-25T10:22:09.053Z
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl-tracking,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18T17:27:48.575Z,2023-08-30T17:27:48.619Z
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl-tracking,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18T17:27:48.331Z,2023-08-30T17:27:48.376Z

In [20]:
# Convert booking_confirmed_datetime and delivered_datetime to pandas datetime objects
df['booking_confirmed_datetime'] = pd.to_datetime(df['booking_confirmed_datetime'])
df['delivered_datetime'] = pd.to_datetime(df['delivered_datetime'])

# Extract year, month, and time components
df['booking_confirmed_year'] = df['booking_confirmed_datetime'].dt.year
df['booking_confirmed_month'] = df['booking_confirmed_datetime'].dt.month
df['booking_confirmed_time'] = df['booking_confirmed_datetime'].dt.time

df['delivered_year'] = df['delivered_datetime'].dt.year
df['delivered_month'] = df['delivered_datetime'].dt.month
df['delivered_time'] = df['delivered_datetime'].dt.time

# Drop the original datetime columns if needed
# df.drop(columns=['booking_confirmed_datetime', 'delivered_datetime'], inplace=True)

In [21]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,booking_confirmed_datetime,delivered_datetime,booking_confirmed_year,booking_confirmed_month,booking_confirmed_time,delivered_year,delivered_month,delivered_time
7,63bfe3a0f2c55d1c751c8087,2023-01-12 10:40:32.787+00,0,False,"[{""dateTime"":""2023-01-27T00:00:00Z"",""estimateC...",63bfe3a0f2c55d1c751c8082,2023-07-20 07:24:42.113+00,2023-07-20 08:18:03.242+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1262.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-27 00:00:00+00:00,2023-03-17 00:00:00+00:00,2023.0,1.0,00:00:00,2023.0,3.0,00:00:00
8,63c1026a8bb33ef411fed105,2023-01-13 07:04:10.43+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c1026a8bb33ef411fed100,2023-07-20 07:24:42.19+00,2023-07-20 08:18:03.243+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1237.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16 00:00:00+00:00,2023-02-24 00:00:00+00:00,2023.0,1.0,00:00:00,2023.0,2.0,00:00:00
10,63c4ffd9f8fb34bb0ef61abe,2023-01-16 07:42:17.263+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c4ffd9f8fb34bb0ef61ab9,2023-07-20 07:24:42.27+00,2023-07-20 08:18:03.291+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16 00:00:00+00:00,2023-02-27 22:21:00+00:00,2023.0,1.0,00:00:00,2023.0,2.0,22:21:00
11,63c53cd2f8fb34bb0ef6257f,2023-01-16 12:02:26.899+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c53cd2f8fb34bb0ef6257a,2023-07-20 07:24:42.347+00,2023-07-20 08:18:03.292+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1264.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16 00:00:00+00:00,2023-02-27 00:00:00+00:00,2023.0,1.0,00:00:00,2023.0,2.0,00:00:00
12,63c55f25b2dcb8a2eb68876d,2023-01-16 14:28:53.746+00,0,False,"[{""dateTime"":""2023-01-17T00:00:00Z"",""estimateC...",63c55f25b2dcb8a2eb688768,2023-07-20 07:24:42.425+00,2023-07-20 08:18:03.293+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1272.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-17 00:00:00+00:00,2023-02-27 00:00:00+00:00,2023.0,1.0,00:00:00,2023.0,2.0,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,64b62e40a135e4aee704c1dd,2023-07-18 06:16:32.532+00,0,False,"[{""dateTime"":""2023-07-18T07:41:29.228Z"",""view""...",64b62e40a135e4aee704c1d8,2023-12-27 07:41:29.355+00,2023-12-27 07:48:18.994+00,air_freight-tracking,647b1636b6b33ba1d31e6fb0,XQAIR07232236,BAIR07231933,Booking Confirmation Pending,`2,True,2403.0,NaN,NaN,NaN,AZ769,Air Italia,NaN,2023-07-18 07:41:29.228000+00:00,2023-08-15 08:58:01.795000+00:00,2023.0,7.0,07:41:29.228000,2023.0,8.0,08:58:01.795000
508,64b62eca809adc250ea00ff0,2023-07-18 06:18:50.206+00,1,False,"[{""dateTime"":""2023-07-18T04:50:05.662Z"",""estim...",64b62eca809adc250ea00feb,2023-10-17 04:50:05.952+00,2023-10-17 05:03:15.25+00,fcl-tracking,647594734988569a71a54341,XQFCL07232237,BFCL07231934,Booking Confirmation Pending,EXP-23/07/17,True,2766.0,False,[],TGHU6625179,NaN,NaN,MAEU,2023-07-18 04:50:05.662000+00:00,2023-08-15 04:50:05.859000+00:00,2023.0,7.0,04:50:05.662000,2023.0,8.0,04:50:05.859000
509,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd-tracking,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-14 10:22:09.031000+00:00,2023-07-25 10:22:09.053000+00:00,2023.0,7.0,10:22:09.031000,2023.0,7.0,10:22:09.053000
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl-tracking,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.575000+00:00,2023-08-30 17:27:48.619000+00:00,2023.0,7.0,17:27:48.575000,2023.0,8.0,17:27:48.619000
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl-tracking,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.331000+00:00,2023-08-30 17:27:48.376000+00:00,2023.0,7.0,17:27:48.331000,2023.0,8.0,17:27:48.376000

In [22]:
df["kind"].value_counts()

lcl-tracking            67
air_freight-tracking    44
fcl-tracking            24
dd-tracking             20
trucking-tracking        4
bonds-tracking           4
Name: kind, dtype: int64

In [62]:
df['kind'] = df['kind'].str.split('-').str[0]

In [91]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,booking_confirmed_datetime,delivered_datetime,booking_confirmed_year,booking_confirmed_month,booking_confirmed_time,delivered_year,delivered_month,delivered_time,delivery_days,average_delivery_time_per_kind
279,647ef4b18b5c3c7bda4a26c2,2023-06-06 08:56:17.364+00,1,False,"[{""dateTime"":""2023-06-06T06:56:20.493Z"",""estim...",647ef4b18b5c3c7bda4a26bd,2023-08-25 06:56:20.578+00,2023-08-25 08:18:17.282+00,fcl,645624a74485d7ee9114dc95,XQFCL06232038,BFCL06231767,Vessel Departed from Origin Port,KI-987,True,2096.0,False,[],HLXU8334726,NaN,NaN,HLCU,2023-06-06 06:56:20.493000+00:00,2023-07-26 06:56:20.555000+00:00,2023.0,6.0,06:56:20.493000,2023.0,7.0,06:56:20.555000,50.0,43.833333
280,647f0c5f264530d1baa93d67,2023-06-06 10:37:19.161+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.766Z"",""view""...",647f0c5f264530d1baa93d62,2023-12-27 07:41:22.865+00,2023-12-27 07:48:18.932+00,air_freight,640b247edecbb4102c415768,XQAIR06232036,BAIR06231768,Delivered to Consignee,`PSP/2023-24/04,True,1532.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:22.766000+00:00,2023-06-23 08:20:22.808000+00:00,2023.0,6.0,07:41:22.766000,2023.0,6.0,08:20:22.808000,17.0,15.250000
281,647f0d35264530d1baa93ddf,2023-06-06 10:40:53.122+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.947Z"",""view""...",647f0d35264530d1baa93dda,2023-12-27 07:41:23.05+00,2023-12-27 07:48:18.933+00,air_freight,640b247edecbb4102c415768,XQAIR06232034,BAIR06231769,Delivered to Consignee,`PSP/2023-24/03,True,1534.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:22.947000+00:00,2023-06-28 08:12:50.657000+00:00,2023.0,6.0,07:41:22.947000,2023.0,6.0,08:12:50.657000,22.0,15.250000
282,647f0d708b5c3c7bda4a2adb,2023-06-06 10:41:52.261+00,0,False,"[{""dateTime"":""2023-06-06T07:41:23.133Z"",""view""...",647f0d708b5c3c7bda4a2ad6,2023-12-27 07:41:23.268+00,2023-12-27 07:48:18.937+00,air_freight,640b247edecbb4102c415768,XQAIR06232033,BAIR06231770,Delivered to Consignee,`PSP/2023-24/05,True,1533.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:23.133000+00:00,2023-06-23 08:39:23.196000+00:00,2023.0,6.0,07:41:23.133000,2023.0,6.0,08:39:23.196000,17.0,15.250000
283,647f27408b5c3c7bda4a2efa,2023-06-06 12:32:00.201+00,1,False,"[{""dateTime"":""2023-06-06T10:21:48.302Z"",""view""...",647f27408b5c3c7bda4a2ef5,2023-09-06 09:04:29.729+00,2023-09-06 14:18:07.534+00,lcl,645fa70c1de1daaf31b8cc38,XQ05231865,BLCOL06231771,Vessel Departed from Origin Port,YNZ02807,True,2279.0,False,[],FANU1753089,NaN,NaN,HLCU,2023-06-06 10:21:48.302000+00:00,2023-08-07 10:21:48.366000+00:00,2023.0,6.0,10:21:48.302000,2023.0,8.0,10:21:48.366000,62.0,46.414634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,64b62e40a135e4aee704c1dd,2023-07-18 06:16:32.532+00,0,False,"[{""dateTime"":""2023-07-18T07:41:29.228Z"",""view""...",64b62e40a135e4aee704c1d8,2023-12-27 07:41:29.355+00,2023-12-27 07:48:18.994+00,air_freight,647b1636b6b33ba1d31e6fb0,XQAIR07232236,BAIR07231933,Booking Confirmation Pending,`2,True,2403.0,NaN,NaN,NaN,AZ769,Air Italia,NaN,2023-07-18 07:41:29.228000+00:00,2023-08-15 08:58:01.795000+00:00,2023.0,7.0,07:41:29.228000,2023.0,8.0,08:58:01.795000,28.0,24.166667
439,64b62eca809adc250ea00ff0,2023-07-18 06:18:50.206+00,1,False,"[{""dateTime"":""2023-07-18T04:50:05.662Z"",""estim...",64b62eca809adc250ea00feb,2023-10-17 04:50:05.952+00,2023-10-17 05:03:15.25+00,fcl,647594734988569a71a54341,XQFCL07232237,BFCL07231934,Booking Confirmation Pending,EXP-23/07/17,True,2766.0,False,[],TGHU6625179,NaN,NaN,MAEU,2023-07-18 04:50:05.662000+00:00,2023-08-15 04:50:05.859000+00:00,2023.0,7.0,04:50:05.662000,2023.0,8.0,04:50:05.859000,28.0,40.133333
440,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-14 10:22:09.031000+00:00,2023-07-25 10:22:09.053000+00:00,2023.0,7.0,10:22:09.031000,2023.0,7.0,10:22:09.053000,11.0,13.454545
441,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.575000+00:00,2023-08-30 17:27:48.619000+00:00,2023.0,7.0,17:27:48.575000,2023.0,8.0,17:27:48.619000,43.0,46.414634
442,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.331000+00:00,2023-08-30 17:27:48.376000+00:00,2023.0,7.0,17:27:48.331000,2023.0,8.0,17:27:48.376000,43.0,46.414634

In [39]:
df["customer_invoice_no"].duplicated().sum()

193

In [87]:
grouped_df = df.groupby(['kind', 'delivered_year', 'delivered_month']).size().reset_index(name='count')

In [88]:
grouped_df

           kind  delivered_year  delivered_month  count
0   air_freight          2023.0              6.0      4
1   air_freight          2023.0              7.0     30
2   air_freight          2023.0              8.0      6
3            dd          2023.0              5.0      2
4            dd          2023.0              6.0      3
5            dd          2023.0              7.0     11
6            dd          2023.0              8.0      4
7           fcl          2023.0              7.0      6
8           fcl          2023.0              8.0     15
9           fcl          2023.0              9.0      1
10          lcl          2023.0              4.0      1
11          lcl          2023.0              7.0     12
12          lcl          2023.0              8.0     41
13          lcl          2023.0              9.0      8
14     trucking          2023.0              6.0      3
15     trucking          2023.0              7.0      1

In [89]:
sorted_df = grouped_df.sort_values(by=['delivered_year', 'delivered_month','kind'])

In [90]:
sorted_df

           kind  delivered_year  delivered_month  count
10          lcl          2023.0              4.0      1
3            dd          2023.0              5.0      2
0   air_freight          2023.0              6.0      4
4            dd          2023.0              6.0      3
14     trucking          2023.0              6.0      3
1   air_freight          2023.0              7.0     30
5            dd          2023.0              7.0     11
7           fcl          2023.0              7.0      6
11          lcl          2023.0              7.0     12
15     trucking          2023.0              7.0      1
2   air_freight          2023.0              8.0      6
6            dd          2023.0              8.0      4
8           fcl          2023.0              8.0     15
12          lcl          2023.0              8.0     41
9           fcl          2023.0              9.0      1
13          lcl          2023.0              9.0      8

In [55]:
df['delivery_duration'] = df['delivered_datetime'] - df['booking_confirmed_datetime']

# Convert delivery duration to days
df['delivery_days'] = df['delivery_duration'].dt.days
df=df.drop(columns=["delivery_duration","delivery_time"])

In [56]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,booking_confirmed_datetime,delivered_datetime,booking_confirmed_year,booking_confirmed_month,booking_confirmed_time,delivered_year,delivered_month,delivered_time,delivery_days
7,63bfe3a0f2c55d1c751c8087,2023-01-12 10:40:32.787+00,0,False,"[{""dateTime"":""2023-01-27T00:00:00Z"",""estimateC...",63bfe3a0f2c55d1c751c8082,2023-07-20 07:24:42.113+00,2023-07-20 08:18:03.242+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1262.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-27 00:00:00+00:00,2023-03-17 00:00:00+00:00,2023.0,1.0,00:00:00,2023.0,3.0,00:00:00,49.0
8,63c1026a8bb33ef411fed105,2023-01-13 07:04:10.43+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c1026a8bb33ef411fed100,2023-07-20 07:24:42.19+00,2023-07-20 08:18:03.243+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1237.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16 00:00:00+00:00,2023-02-24 00:00:00+00:00,2023.0,1.0,00:00:00,2023.0,2.0,00:00:00,39.0
10,63c4ffd9f8fb34bb0ef61abe,2023-01-16 07:42:17.263+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c4ffd9f8fb34bb0ef61ab9,2023-07-20 07:24:42.27+00,2023-07-20 08:18:03.291+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16 00:00:00+00:00,2023-02-27 22:21:00+00:00,2023.0,1.0,00:00:00,2023.0,2.0,22:21:00,42.0
11,63c53cd2f8fb34bb0ef6257f,2023-01-16 12:02:26.899+00,0,False,"[{""dateTime"":""2023-01-16T00:00:00Z"",""estimateC...",63c53cd2f8fb34bb0ef6257a,2023-07-20 07:24:42.347+00,2023-07-20 08:18:03.292+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1264.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16 00:00:00+00:00,2023-02-27 00:00:00+00:00,2023.0,1.0,00:00:00,2023.0,2.0,00:00:00,42.0
12,63c55f25b2dcb8a2eb68876d,2023-01-16 14:28:53.746+00,0,False,"[{""dateTime"":""2023-01-17T00:00:00Z"",""estimateC...",63c55f25b2dcb8a2eb688768,2023-07-20 07:24:42.425+00,2023-07-20 08:18:03.293+00,NaN,NaN,NaN,NaN,Delivered to Consignee,NaN,True,1272.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-17 00:00:00+00:00,2023-02-27 00:00:00+00:00,2023.0,1.0,00:00:00,2023.0,2.0,00:00:00,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,64b62e40a135e4aee704c1dd,2023-07-18 06:16:32.532+00,0,False,"[{""dateTime"":""2023-07-18T07:41:29.228Z"",""view""...",64b62e40a135e4aee704c1d8,2023-12-27 07:41:29.355+00,2023-12-27 07:48:18.994+00,air_freight,647b1636b6b33ba1d31e6fb0,XQAIR07232236,BAIR07231933,Booking Confirmation Pending,`2,True,2403.0,NaN,NaN,NaN,AZ769,Air Italia,NaN,2023-07-18 07:41:29.228000+00:00,2023-08-15 08:58:01.795000+00:00,2023.0,7.0,07:41:29.228000,2023.0,8.0,08:58:01.795000,28.0
508,64b62eca809adc250ea00ff0,2023-07-18 06:18:50.206+00,1,False,"[{""dateTime"":""2023-07-18T04:50:05.662Z"",""estim...",64b62eca809adc250ea00feb,2023-10-17 04:50:05.952+00,2023-10-17 05:03:15.25+00,fcl,647594734988569a71a54341,XQFCL07232237,BFCL07231934,Booking Confirmation Pending,EXP-23/07/17,True,2766.0,False,[],TGHU6625179,NaN,NaN,MAEU,2023-07-18 04:50:05.662000+00:00,2023-08-15 04:50:05.859000+00:00,2023.0,7.0,04:50:05.662000,2023.0,8.0,04:50:05.859000,28.0
509,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-14 10:22:09.031000+00:00,2023-07-25 10:22:09.053000+00:00,2023.0,7.0,10:22:09.031000,2023.0,7.0,10:22:09.053000,11.0
510,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.575000+00:00,2023-08-30 17:27:48.619000+00:00,2023.0,7.0,17:27:48.575000,2023.0,8.0,17:27:48.619000,43.0
511,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.331000+00:00,2023-08-30 17:27:48.376000+00:00,2023.0,7.0,17:27:48.331000,2023.0,8.0,17:27:48.376000,43.0

In [58]:
df["status"].value_counts()

Delivered to Consignee                   278
Vessel Departed from Origin Port          66
Booking Confirmed                         27
Vessel Arrived at Destination Port        18
Booking Confirmation Pending              17
Destination Customs Cleared               14
Cargo Received at Origin CFS               7
Cargo Received at Origin Airport           6
Container Gated In                         4
Flight Arrived at Destination Airport      3
Cargo Picked Up                            2
Flight Departed from Origin Airport        1
Name: status, dtype: int64

In [60]:
import pandas as pd

# Group by 'kind' and 'delivered_month', then calculate the average delivery time
average_delivery_time_per_kind = df.groupby(['kind', 'delivered_month'])['delivery_days'].mean().reset_index()

# Rename the column for clarity
average_delivery_time_per_kind.rename(columns={'delivery_days': 'average_delivery_time_per_kind'}, inplace=True)

# Merge the calculated averages back into the original dataframe
df = df.merge(average_delivery_time_per_kind, on=['kind', 'delivered_month'], how='left')

In [92]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,booking_confirmed_datetime,delivered_datetime,booking_confirmed_year,booking_confirmed_month,booking_confirmed_time,delivered_year,delivered_month,delivered_time,delivery_days,average_delivery_time_per_kind
279,647ef4b18b5c3c7bda4a26c2,2023-06-06 08:56:17.364+00,1,False,"[{""dateTime"":""2023-06-06T06:56:20.493Z"",""estim...",647ef4b18b5c3c7bda4a26bd,2023-08-25 06:56:20.578+00,2023-08-25 08:18:17.282+00,fcl,645624a74485d7ee9114dc95,XQFCL06232038,BFCL06231767,Vessel Departed from Origin Port,KI-987,True,2096.0,False,[],HLXU8334726,NaN,NaN,HLCU,2023-06-06 06:56:20.493000+00:00,2023-07-26 06:56:20.555000+00:00,2023.0,6.0,06:56:20.493000,2023.0,7.0,06:56:20.555000,50.0,43.833333
280,647f0c5f264530d1baa93d67,2023-06-06 10:37:19.161+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.766Z"",""view""...",647f0c5f264530d1baa93d62,2023-12-27 07:41:22.865+00,2023-12-27 07:48:18.932+00,air_freight,640b247edecbb4102c415768,XQAIR06232036,BAIR06231768,Delivered to Consignee,`PSP/2023-24/04,True,1532.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:22.766000+00:00,2023-06-23 08:20:22.808000+00:00,2023.0,6.0,07:41:22.766000,2023.0,6.0,08:20:22.808000,17.0,15.250000
281,647f0d35264530d1baa93ddf,2023-06-06 10:40:53.122+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.947Z"",""view""...",647f0d35264530d1baa93dda,2023-12-27 07:41:23.05+00,2023-12-27 07:48:18.933+00,air_freight,640b247edecbb4102c415768,XQAIR06232034,BAIR06231769,Delivered to Consignee,`PSP/2023-24/03,True,1534.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:22.947000+00:00,2023-06-28 08:12:50.657000+00:00,2023.0,6.0,07:41:22.947000,2023.0,6.0,08:12:50.657000,22.0,15.250000
282,647f0d708b5c3c7bda4a2adb,2023-06-06 10:41:52.261+00,0,False,"[{""dateTime"":""2023-06-06T07:41:23.133Z"",""view""...",647f0d708b5c3c7bda4a2ad6,2023-12-27 07:41:23.268+00,2023-12-27 07:48:18.937+00,air_freight,640b247edecbb4102c415768,XQAIR06232033,BAIR06231770,Delivered to Consignee,`PSP/2023-24/05,True,1533.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:23.133000+00:00,2023-06-23 08:39:23.196000+00:00,2023.0,6.0,07:41:23.133000,2023.0,6.0,08:39:23.196000,17.0,15.250000
283,647f27408b5c3c7bda4a2efa,2023-06-06 12:32:00.201+00,1,False,"[{""dateTime"":""2023-06-06T10:21:48.302Z"",""view""...",647f27408b5c3c7bda4a2ef5,2023-09-06 09:04:29.729+00,2023-09-06 14:18:07.534+00,lcl,645fa70c1de1daaf31b8cc38,XQ05231865,BLCOL06231771,Vessel Departed from Origin Port,YNZ02807,True,2279.0,False,[],FANU1753089,NaN,NaN,HLCU,2023-06-06 10:21:48.302000+00:00,2023-08-07 10:21:48.366000+00:00,2023.0,6.0,10:21:48.302000,2023.0,8.0,10:21:48.366000,62.0,46.414634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,64b62e40a135e4aee704c1dd,2023-07-18 06:16:32.532+00,0,False,"[{""dateTime"":""2023-07-18T07:41:29.228Z"",""view""...",64b62e40a135e4aee704c1d8,2023-12-27 07:41:29.355+00,2023-12-27 07:48:18.994+00,air_freight,647b1636b6b33ba1d31e6fb0,XQAIR07232236,BAIR07231933,Booking Confirmation Pending,`2,True,2403.0,NaN,NaN,NaN,AZ769,Air Italia,NaN,2023-07-18 07:41:29.228000+00:00,2023-08-15 08:58:01.795000+00:00,2023.0,7.0,07:41:29.228000,2023.0,8.0,08:58:01.795000,28.0,24.166667
439,64b62eca809adc250ea00ff0,2023-07-18 06:18:50.206+00,1,False,"[{""dateTime"":""2023-07-18T04:50:05.662Z"",""estim...",64b62eca809adc250ea00feb,2023-10-17 04:50:05.952+00,2023-10-17 05:03:15.25+00,fcl,647594734988569a71a54341,XQFCL07232237,BFCL07231934,Booking Confirmation Pending,EXP-23/07/17,True,2766.0,False,[],TGHU6625179,NaN,NaN,MAEU,2023-07-18 04:50:05.662000+00:00,2023-08-15 04:50:05.859000+00:00,2023.0,7.0,04:50:05.662000,2023.0,8.0,04:50:05.859000,28.0,40.133333
440,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-14 10:22:09.031000+00:00,2023-07-25 10:22:09.053000+00:00,2023.0,7.0,10:22:09.031000,2023.0,7.0,10:22:09.053000,11.0,13.454545
441,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.575000+00:00,2023-08-30 17:27:48.619000+00:00,2023.0,7.0,17:27:48.575000,2023.0,8.0,17:27:48.619000,43.0,46.414634
442,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.331000+00:00,2023-08-30 17:27:48.376000+00:00,2023.0,7.0,17:27:48.331000,2023.0,8.0,17:27:48.376000,43.0,46.414634

In [80]:
df.dropna(subset="kind",inplace=True)

In [93]:
grouped_df1 = df.groupby(['kind', 'delivered_year', 'delivered_month','average_delivery_time_per_kind']).size().reset_index(name='count')

In [94]:
grouped_df1

,kind,delivered_year,delivered_month,average_delivery_time_per_kind,count
0,air_freight,2023.0,6.0,15.250000,4
1,air_freight,2023.0,7.0,17.600000,30
2,air_freight,2023.0,8.0,24.166667,6
3,dd,2023.0,5.0,46.000000,2
4,dd,2023.0,6.0,6.666667,3
5,dd,2023.0,7.0,13.454545,11
6,dd,2023.0,8.0,43.250000,4
7,fcl,2023.0,7.0,43.833333,6
8,fcl,2023.0,8.0,40.133333,15
9,fcl,2023.0,9.0,53.000000,1
10,lcl,2023.0,4.0,45.000000,1
11,lcl,2023.0,7.0,45.000000,12
12,lcl,2023.0,8.0,46.414634,41
13,lcl,2023.0,9.0,61.375000,8
14,trucking,2023.0,6.0,9.000000,3
15,trucking,2023.0,7.0,6.000000,1

In [95]:
grouped_df1['tp90'] = np.ceil(0.9 * grouped_df1['count'])

In [96]:
grouped_df1

,kind,delivered_year,delivered_month,average_delivery_time_per_kind,count,tp90
0,air_freight,2023.0,6.0,15.250000,4,4.0
1,air_freight,2023.0,7.0,17.600000,30,27.0
2,air_freight,2023.0,8.0,24.166667,6,6.0
3,dd,2023.0,5.0,46.000000,2,2.0
4,dd,2023.0,6.0,6.666667,3,3.0
5,dd,2023.0,7.0,13.454545,11,10.0
6,dd,2023.0,8.0,43.250000,4,4.0
7,fcl,2023.0,7.0,43.833333,6,6.0
8,fcl,2023.0,8.0,40.133333,15,14.0
9,fcl,2023.0,9.0,53.000000,1,1.0
10,lcl,2023.0,4.0,45.000000,1,1.0
11,lcl,2023.0,7.0,45.000000,12,11.0
12,lcl,2023.0,8.0,46.414634,41,37.0
13,lcl,2023.0,9.0,61.375000,8,8.0
14,trucking,2023.0,6.0,9.000000,3,3.0
15,trucking,2023.0,7.0,6.000000,1,1.0

In [85]:
df["kind"].value_counts()

lcl            67
air_freight    44
fcl            24
dd             20
trucking        4
bonds           4
Name: kind, dtype: int64

#  Now we will find the organizational_id to calculate customer with unique order

In [86]:
df

,_id,created_at,_v,_fivetran_deleted,milestones,booking_id,updated_at,_fivetran_synced,kind,organization_id,quote_identity,booking_identity,status,customer_invoice_no,ticket_status,zendesk_ticket_id,zoho_invoice_status,zoho_estimate_invoice_nos,container_code,flight_number,airline_name,carrier_code,booking_confirmed_datetime,delivered_datetime,booking_confirmed_year,booking_confirmed_month,booking_confirmed_time,delivered_year,delivered_month,delivered_time,delivery_days,average_delivery_time_per_kind
279,647ef4b18b5c3c7bda4a26c2,2023-06-06 08:56:17.364+00,1,False,"[{""dateTime"":""2023-06-06T06:56:20.493Z"",""estim...",647ef4b18b5c3c7bda4a26bd,2023-08-25 06:56:20.578+00,2023-08-25 08:18:17.282+00,fcl,645624a74485d7ee9114dc95,XQFCL06232038,BFCL06231767,Vessel Departed from Origin Port,KI-987,True,2096.0,False,[],HLXU8334726,NaN,NaN,HLCU,2023-06-06 06:56:20.493000+00:00,2023-07-26 06:56:20.555000+00:00,2023.0,6.0,06:56:20.493000,2023.0,7.0,06:56:20.555000,50.0,43.833333
280,647f0c5f264530d1baa93d67,2023-06-06 10:37:19.161+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.766Z"",""view""...",647f0c5f264530d1baa93d62,2023-12-27 07:41:22.865+00,2023-12-27 07:48:18.932+00,air_freight,640b247edecbb4102c415768,XQAIR06232036,BAIR06231768,Delivered to Consignee,`PSP/2023-24/04,True,1532.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:22.766000+00:00,2023-06-23 08:20:22.808000+00:00,2023.0,6.0,07:41:22.766000,2023.0,6.0,08:20:22.808000,17.0,15.250000
281,647f0d35264530d1baa93ddf,2023-06-06 10:40:53.122+00,0,False,"[{""dateTime"":""2023-06-06T07:41:22.947Z"",""view""...",647f0d35264530d1baa93dda,2023-12-27 07:41:23.05+00,2023-12-27 07:48:18.933+00,air_freight,640b247edecbb4102c415768,XQAIR06232034,BAIR06231769,Delivered to Consignee,`PSP/2023-24/03,True,1534.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:22.947000+00:00,2023-06-28 08:12:50.657000+00:00,2023.0,6.0,07:41:22.947000,2023.0,6.0,08:12:50.657000,22.0,15.250000
282,647f0d708b5c3c7bda4a2adb,2023-06-06 10:41:52.261+00,0,False,"[{""dateTime"":""2023-06-06T07:41:23.133Z"",""view""...",647f0d708b5c3c7bda4a2ad6,2023-12-27 07:41:23.268+00,2023-12-27 07:48:18.937+00,air_freight,640b247edecbb4102c415768,XQAIR06232033,BAIR06231770,Delivered to Consignee,`PSP/2023-24/05,True,1533.0,NaN,NaN,NaN,AZ610,Air Italia,NaN,2023-06-06 07:41:23.133000+00:00,2023-06-23 08:39:23.196000+00:00,2023.0,6.0,07:41:23.133000,2023.0,6.0,08:39:23.196000,17.0,15.250000
283,647f27408b5c3c7bda4a2efa,2023-06-06 12:32:00.201+00,1,False,"[{""dateTime"":""2023-06-06T10:21:48.302Z"",""view""...",647f27408b5c3c7bda4a2ef5,2023-09-06 09:04:29.729+00,2023-09-06 14:18:07.534+00,lcl,645fa70c1de1daaf31b8cc38,XQ05231865,BLCOL06231771,Vessel Departed from Origin Port,YNZ02807,True,2279.0,False,[],FANU1753089,NaN,NaN,HLCU,2023-06-06 10:21:48.302000+00:00,2023-08-07 10:21:48.366000+00:00,2023.0,6.0,10:21:48.302000,2023.0,8.0,10:21:48.366000,62.0,46.414634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,64b62e40a135e4aee704c1dd,2023-07-18 06:16:32.532+00,0,False,"[{""dateTime"":""2023-07-18T07:41:29.228Z"",""view""...",64b62e40a135e4aee704c1d8,2023-12-27 07:41:29.355+00,2023-12-27 07:48:18.994+00,air_freight,647b1636b6b33ba1d31e6fb0,XQAIR07232236,BAIR07231933,Booking Confirmation Pending,`2,True,2403.0,NaN,NaN,NaN,AZ769,Air Italia,NaN,2023-07-18 07:41:29.228000+00:00,2023-08-15 08:58:01.795000+00:00,2023.0,7.0,07:41:29.228000,2023.0,8.0,08:58:01.795000,28.0,24.166667
439,64b62eca809adc250ea00ff0,2023-07-18 06:18:50.206+00,1,False,"[{""dateTime"":""2023-07-18T04:50:05.662Z"",""estim...",64b62eca809adc250ea00feb,2023-10-17 04:50:05.952+00,2023-10-17 05:03:15.25+00,fcl,647594734988569a71a54341,XQFCL07232237,BFCL07231934,Booking Confirmation Pending,EXP-23/07/17,True,2766.0,False,[],TGHU6625179,NaN,NaN,MAEU,2023-07-18 04:50:05.662000+00:00,2023-08-15 04:50:05.859000+00:00,2023.0,7.0,04:50:05.662000,2023.0,8.0,04:50:05.859000,28.0,40.133333
440,64b65dd9d034cf2311db9699,2023-07-18 09:39:37.487+00,1,False,"[{""dateTime"":""2023-07-14T10:22:09.031Z"",""estim...",64b65dd9d034cf2311db9694,2023-09-05 09:53:13.046+00,2023-09-05 14:18:02.651+00,dd,647594734988569a71a54341,XQDRA07232225,BDRA07231935,Booking Confirmation Pending,HMMU9037778,True,2101.0,False,[],HMMU9037778,NaN,NaN,NaN,2023-07-14 10:22:09.031000+00:00,2023-07-25 10:22:09.053000+00:00,2023.0,7.0,10:22:09.031000,2023.0,7.0,10:22:09.053000,11.0,13.454545
441,64b67166d034cf2311dba166,2023-07-18 11:03:02.385+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.575Z"",""view""...",64b67166d034cf2311dba161,2023-10-12 17:27:48.654+00,2023-10-12 17:33:22.808+00,lcl,64b638e3a135e4aee704c389,XQLCL07232238,BLCON07231936,Booking Confirmation Pending,AMZ1084,True,2703.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.575000+00:00,2023-08-30 17:27:48.619000+00:00,2023.0,7.0,17:27:48.575000,2023.0,8.0,17:27:48.619000,43.0,46.414634
442,64b68086d034cf2311dba206,2023-07-18 12:07:34.251+00,0,False,"[{""dateTime"":""2023-07-18T17:27:48.331Z"",""estim...",64b68086d034cf2311dba201,2023-10-12 17:27:48.408+00,2023-10-12 17:33:22.806+00,lcl,645390587346be98cdf96c23,XQLCL07232235,BLCON07231937,Booking Confirmation Pending,027/23-24,True,2702.0,NaN,NaN,TGHU6778440,NaN,NaN,OOCL,2023-07-18 17:27:48.331000+00:00,2023-08-30 17:27:48.376000+00:00,2023.0,7.0,17:27:48.331000,2023.0,8.0,17:27:48.376000,43.0,46.414634

In [99]:
no_of_customer=df["organization_id"].nunique()

In [100]:
no_of_customer

73